*.iml
.idea
.tscache
.DS_Store
node_modules/
coverage/
temp/
test/typescript/axios.js*
sauce_connect.log
test/module/**/package-lock.json
backup/
/.husky/
.npmrc
.env
dist/
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
